<!DOCTYPE html>
   <head>
      <title>Relay Control</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
		<h1>Relay</h1>
		<h2> Status </h2>
		<h3> RELAY 1 ==>  {{ RELAY1  }}</h3>
		<h3> Relay 2 ==>  {{ RELAY2  }}</h3>
		<h3> RELAY 3  ==>  {{ RELAY3  }}</h3>
		<br>
		<h2> Commands </h2>
		<h3> 
			Relay 1 Control ==> 
			<a href="/RELAY1/on" class="button">TURN ON</a>  
			<a href="/RELAY1/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 2 Control ==> 
			<a href="/RELAY2/on" class="button">TURN ON</a>  
			<a href="/RELAY2/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 3 Control ==> 
			<a href="/RELAY3/on" class="button">TURN ON</a>  
			<a href="/RELAY3/off"class="button">TURN OFF</a>
		</h3>
		
   </body>
</html>
