<!DOCTYPE html>
   <head>
      <title>8 Relay Control</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
		<h1>Relay</h1>
		<h2> Status </h2>
		<h3> RELAY 1 ==>  {{ RELAY1  }}</h3>
		<h3> RELAY 2 ==>  {{ RELAY2  }}</h3>
		<h3> RELAY 3  ==>  {{ RELAY3  }}</h3>
		<h3> RELAY 4 ==>  {{ RELAY4  }}</h3>
		<h3> RELAY 5 ==>  {{ RELAY5  }}</h3>
		<h3> RELAY 6  ==>  {{ RELAY6  }}</h3>
		<h3> RELAY 7 ==>  {{ RELAY7  }}</h3>
		<h3> RELAY 8 ==>  {{ RELAY8  }}</h3>
		<br>
		<h2> Commands </h2>
		<h3> 
			Relay 1 Control ==> 
			<a href="/RELAY1/on" class="button">TURN ON</a>  
			<a href="/RELAY1/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 2 Control ==> 
			<a href="/RELAY2/on" class="button">TURN ON</a>  
			<a href="/RELAY2/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 3 Control ==> 
			<a href="/RELAY3/on" class="button">TURN ON</a>  
			<a href="/RELAY3/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 4 Control ==> 
			<a href="/RELAY4/on" class="button">TURN ON</a>  
			<a href="/RELAY4/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 5 Control ==> 
			<a href="/RELAY5/on" class="button">TURN ON</a>  
			<a href="/RELAY5/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 6 Control ==> 
			<a href="/RELAY6/on" class="button">TURN ON</a>  
			<a href="/RELAY6/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 7 Control ==> 
			<a href="/RELAY7/on" class="button">TURN ON</a>  
			<a href="/RELAY7/off"class="button">TURN OFF</a>
		</h3>
		<h3> 
			Relay 8 Control ==> 
			<a href="/RELAY8/on" class="button">TURN ON</a>  
			<a href="/RELAY8/off"class="button">TURN OFF</a>
		</h3>
		
		
   </body>
</html>
